body, html {
height: 100%;
    overflow: hidden;
}

body {
    background-image: url(../images/watercolour_bkg.jpg);
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Noto Sans', 'Open Sans', Helvetica, Helvetica Nue, Arial, sans-serif;
	color: #808182;
	font-size: 100%;
}

#backgroundimg {
    position: absolute;
    width: 60vw;
    max-height: 120vh;
    z-index: 3;
    left: -150px;
    bottom: -100px;
    opacity: 0.3;
}

#landing {
    position: relative;
    margin: auto;
    width: 430px;
    height: 322px;
    top: 50%;
    margin-top: -161px;
    text-align: center;
    z-index: 5;
}

#logo {
    background-color: white;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px #999; 
}

h3 {
    font-size: 18px;
    font-weight: 600;
}

p {
    font-size: 16px;
}

#login {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
}
fieldset {
    border: none;
}

fieldset p {
    margin: 0;
}

label {
    font-size: 12px;
    width: 60px;
}

input {
    background-color: rgba(255,255,255,0.5);
}

#submit-buton input {
    border: 0;
    background-color: #808182;
    color: white;
    padding: 5px;
}

@media only screen and (max-width: 700px) {
	
    #backgroundimg {
        display: none;
    }
    
    #landing {
        position: relative;
        width: 90%;
        left: 0;
        margin: auto;
        top: 5%;
    }

    body {
        background-size: 300%;
        background-position: bottom;
        font-size: 85%;
    }
}