@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic);

@font-face {
    font-family: ElegantIcons;
    src: url(ElegantIcons.woff);
}

.icons {
	display: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Noto Sans', 'Open Sans', Helvetica, Helvetica Nue, Arial, sans-serif;
	color: #808182;
	font-size: 100%;
    
}

#container {
	width: 100%;
	height: 100vh;
	min-width: 300px;
}


#map {
    height: 90vh;
}

.wrap {
	padding: 30px 1.67%;
	max-width: 1200px;
	margin: auto; 
}

.text.wrap {
	padding: 30px 1.67%;
	max-width: 960px;
	margin: auto; 
}

/*main {
  	padding-top: 150px;
}*/

header.wrap {
	padding: 0 0 0 1.67%;
	margin: 0;
    width: 89.33%;
    position: relative;
}

nav#main {
	position: fixed;
	width: 500px;
	height: 45px;
	background: white;
	z-index: 999;
	padding: 20px;
	box-shadow: 1px 1px 3px #9a9a9a;
	transition: 0.5s;
	overflow: hidden;
}

nav#main ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav#main ul li {
	display: block;
    float: left;
	opacity: 1;
	transition: 0.5s;
	-webkit-transition-delay: 0.5s; /* Safari */
    transition-delay: 0.5s;
}

nav#main ul li a:link, nav#main ul li a:visited {
    font-size: 1em; 
	display: block;
	width: 90px;
	color: #808182;
	margin-left: 50px;
	text-transform: uppercase;
}


nav#main ul li:first-child a:link, nav#main ul li:first-child a:visited {
	width: 200px;
	height: 38px;
    margin: 0;
	padding: 0;
    background-image: url("../images/Wasteless_Logo.svg");
	background-repeat: no-repeat;
	background-size: 200px;
	background-position: top left ;
	color: white;
    font-size: 0.0001em;
	/*transition: .2s;*/
}


nav#main ul li a:hover, nav#main ul li.current.active.toggle a{
	color: #1095cb;
}

nav#main ul li a:hover ~ hr, nav#main ul li.current.active.toggle a ~ hr {
	background-color: #1095cb;
}

nav#main ul li:nth-child(2) a {
	width: 60px;
}

nav hr {
	margin-top: -22px;
	transform: rotate(108deg);
    -webkit-transform: rotate(108deg);
	position: absolute;
	width: 50px;
	background-color:#808182;
	border: 0;
	height: 1px; 
}

@keyframes logo {
    0% {opacity: 1;}
    25% {opacity: 0; background-size: 200px; background-position: top left;}
    50% {background-position: top right;}
    90% {opacity: 0; background-size: 315px;}
	100% {opacity: 1; background-position: top right; background-size: 315px;}
}

nav#main.mini {
	width: 35px;
	padding: 10px;
}

nav#main.mini ul li:first-child a:link {
	width: 35px;
	height: 45px;
    transition: .2s;
    background-image: url("../images/Wasteless_Icon.svg");
    background-position: top left;
    background-size: 35px;
	/*animation-name: logo;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;*/
}

nav#main.mini ul li.toggle {
	transition: 1s;
	transition-delay: 0.5s;
	opacity: 0;
}

nav#main.mini:hover {
	width: 460px;
	padding: 20px;
}

nav#main.mini:hover ul li:first-child a:link {
	animation-name: logo;
    animation-duration: 0.5s;
    animation-direction: reverse;
    animation-fill-mode: backwards;
	width: 200px;
	height: 38px;
}

#sociallinks {
	position: fixed;
    width: 155px;
    height: 33px;
	right: 15px;
	top: 15px;
	z-index: 9999;
}

#sociallinks div {
float: left;
 display: inline-block;
}

/*
.fb_iframe_widget {
top: -5px;
}
*/

/*nav#main.mini:hover .toggle {
	opacity: 1;
}*/


.custombanner {
	position: relative;
	background: url(../images/watercolour_bkg.jpg);
	background-repeat: no-repeat;
	background-size: 115%;
	background-position: center bottom;
	height: 57.8vw;
    width: 100%;
	max-height: 650px;
	min-height: 430px;
    overflow-x: hidden;
}

.custombanner.short {
	position: relative;
	background: url(../images/watercolour_bkg.jpg);
	background-repeat: no-repeat;
	background-size: 115%;
	background-position: center bottom;
	height: 57.8vw;
	max-height: 150px;
	min-height: 100px;
}

.custombanner #bannertext {
	padding: 0 5%;
	max-width: 1200px;
	position: relative;
	margin: 0 auto;
	top: 175px;
}

.custombanner h1 {
	color: #1095cb;
	font-size: 3.5em;
	margin: 0;
	text-shadow: -2px 2px 1px #fff;
}

.custombanner h3, .custombanner .button {
	margin-left: 130px;
    font-size: 1.25em;
}

.custombanner h4 {
	margin-left: 130px;
    font-size: 1.5em;
    font-weight: 400;
}

.custombanner h3, .custombanner h4 {
text-shadow: -1px 1px 0px #fff;
}

.bordertext {
	margin: 20px 0;
	width: 550px;
	height: 250px;
	background: url(../images/trash_grey-08.svg);
	background-size: 100%;
	background-position: bottom;
	background-repeat: no-repeat;
/*	border-bottom: 2px solid #fff;*/
}

@keyframes flyingwaste {
    0% {}
	100% {transform: rotate(360deg);}
}

.custombanner .flyingwaste {
	width: 3%;
	position: absolute;
	animation-name: flyingwaste;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.custombanner .flyingwaste.clockwise {
    animation-direction: normal;
}

.custombanner .flyingwaste.counter {
    animation-direction: reverse;
}

.custombanner #paper {
	left: 83%;
	top: 35%;
	width: 2.5%;
}

.custombanner #newspaper {
	left: 80%;
	top: 75%;	
}

.custombanner #food {
	left: 95%;
	top: 20%;
	width: 4%;
}

.custombanner #bag {
	left: 65%;
	top: 47%;
}

.custombanner #cup {
	left: 75%;
	top: 15%;
	width: 2.5%;
}
.custombanner #cuetip {
	left: 65%;
	top: 10%;
}
.custombanner #coffee {
	left: 55%;
	top: 70%;
}
.custombanner #branch {
	left: 95%;
	top: 60%;
	width: 7%;
}

.intro {
	width: 70%;
	margin: 50px auto;
	text-align: center;
}

.col_320 {
	width: 30.18%;
	float: left;
    position: relative;
}

.col_320.reverse {
    float: right;
}

.col_320:nth-child(2) {
	margin: 0 4.71%;
}

.col_660 {
    width: 62.27%;
    float: left;
    position: relative;
}

.col_660.reverse {
    float: right;
}


#couleeDump img{
    width: 100%;
}

.col_660 ~ .col_320 {
    margin-left: 0;
    margin-right: 4.71%;
}

.col_660 + .col_320 {
    margin-left: 4.71%;
    margin-right: 0;
}

.thumb {
	border: 1px solid #dedede;
	box-sizing: border-box;
	height: 16vw;
	max-height: 200px;
	overflow: hidden;
	/*max-height: 170px;*/
	
}

.thumb img {
	transition: all 1s;
	width: 100%;
}

.thumb:hover img {
	width: 102%;
}

footer .col_320:nth-child(3) {
	text-align: right;
}


footer {
	position: relative;
	background-image: url(../images/watercolour_bkg.jpg);
	background-repeat: no-repeat;
	background-size: 125%;
	background-position: center top;
	color: #1095cb;
	padding-top: 50px;
}

footer h2 {
	font-weight: 700;
	text-shadow: -1px 1px 1px #fff;
}

footer a:link, footer a:visited {
	color: #1095cb;
	font-weight: 400;
}

footer .col_320:nth-child(2) {
	text-align: center;
}

footer nav ul {
	list-style-type: none;
	padding: 0;
	-webkit-columns: 100px 2; /* Chrome, Safari, Opera */
    -moz-columns: 100px 2; /* Firefox */
    columns: 100px 2;
}


/* TEXT STYLES */


h1{
	font-weight: 700;
	font-size: 1.9em;
}

h2 {
	font-weight: 400;
	font-size: 1.5em;
}

h3 {
	font-weight: 400;
	font-size: 1.25em;
}

p {
	font-size: 1em;
	line-height: 1.25em;
}

p.copy {
	font-size: 0.8em;
}

q {
	font-size: 1.25em;
	font-family: cambria, georgia, serif;
}

.clearflt {
	clear: both;
}

.spacer {
    clear: both;
    height: 100px;
}

img {
	width: 100%;
}


/* ----- LINKS & BUTTONS --------*/

a:link, a:visited {
	text-decoration: none;
	color: #1095cb;
}

a:link.button {
	display: inline-block;
	padding: 2% 4%;
	font-size: 1.05em;
	transition: 0.5s;
}

a.button span {
	font-family: "ElegantIcons";
	margin-left: 10px;
}

a:link.blue, a:visited.blue {
    color: #1095cb;
}
a:link.green,  a:visited.green {
    color: #64C998;
}
a:link.button.blue, a:visited.button.blue {
	background: #1095cb;
	color: #fff;
	border: 2px solid #1095cb;
}

a:hover.button.blue {
	background: #fff;
	color: #1095cb;
	border: 2px solid #1095cb;
}

a:link.button.green, a:visited.button.green {
    background: #64C998;
    color: #fff;
	border: 2px solid #64C998;
}

a:hover.button.green {
    background: #fff;
	color: #64C998;
	border: 2px solid #64C998;
}

a:link.button.white, a:visited.button.white {
	background: #1095cb;
	border: 2px solid #fff;
	color: #fff;
}

a:hover.button.white  {
	background: #fff;
	color: #1095cb;
	border: 2px solid #fff;
}

a:link.button.pink, a:visited.button.pink {
	background: #ed6a5a;
	color: #fff;
	border: 2px solid #ed6a5a;
}

a:hover.button.pink  {
	background: #fff;
	color: #ed6a5a;
	border: 2px solid #ed6a5a;
}

a:hover.button.blue {
	background: #fff;
	color: #1095cb;
	border: 2px solid #1095cb;
}

/* ----- MEDIA QUERIES -----*/

@media screen and (max-width: 1150px){
.custombanner #bannertext {
		top: 13.5vw;
	}
}

@media screen and (max-width: 980px){
	footer nav ul {
		-webkit-columns: 1; /* Chrome, Safari, Opera */
	    -moz-columns: 1; /* Firefox */
	    columns: 1;
	}

	.custombanner h1 {
		font-size: 2.8em;
	}

	.bordertext {
		margin: 20px 0;
		width: 65%;
		height: 20vw;
	}
    
    body {
        font-size: 90%;
    }

}

@media screen and (max-width: 750px){
    .spacer {
        height: 0;
    }
    
    .col_660 {
		width: 100%;
		float: none;
		text-align: center;
	}
    .col_320 {
		width: 90%;
		float: none;
        padding: 0 5% 40px 5%;
		border-bottom: 1px solid #333;
		margin-bottom: 40px;
		text-align: center;
	}
  
  	.col_320:nth-child(2) {
		margin: 0;
      	margin-bottom: 40px;
	}

	.thumb {
		height: auto;
		max-height: none;
	}

	.thumb:hover img {
		width: 100%;
	}
    footer {
        background-size: 500%;
        background-position: center top;
    }
    footer .col_320 {
		border: none;
    }
    footer .col_320:nth-child(3) {
		text-align: center;
	}

	#bannerspinners {
		display: none;
	}
	.col_260 {
		width: 60%;
		margin: auto;
		float: none;
	}
    
	.custombanner {
		background-size: 140%;
	}

	.custombanner #bannertext {
		top: 18vw;
	}

	.custombanner h3, .custombanner h4, .custombanner .button {
		margin-left: 0px;
	}

	.bordertext {
		margin: 0;
		width: 70%;
		height: 20vw;
	}

	body {
		font-size: 90%;
	}	
    
    #sociallinks {
        position: absolute;
        width: 60px;
        height: 40px;
        top: 2px;
        right: 10px;
        z-index: 9999;
    }
    
    #sociallinks div {
        float: none;
        display: block;
        margin-bottom: 2px;
    }

}

@media screen and (max-width: 600px){ 
    header.wrap {
       width: 100%;
    }
    nav#main {
		position: relative;
		width: 96%;
		padding: 2%;
        margin-top: 5px;
        height: auto;
		box-shadow: none;
	}
    
    nav#main ul li a:link, nav#main ul li a:visited {
        width: 45px;
        margin-left: 35px;
    }

	.bordertext {
		background: none;
		border-bottom: none;
		width: 100%;
		height: auto;
	}
	.bannertext {
		text-align: center;
	}
	.custombanner h1 {
		font-size: 2.6em;
	}
	.custombanner {
		min-height: 300px;
		background-size: 140%;
        padding-top: 15px;
	}
	.custombanner #bannertext {
		top: 10vw;
	}

	body {
		font-size: 75%;
    }


}

@media screen and (max-width: 490px){ 
	
	nav#main ul li:first-child a:link {
		background-image: url("../images/Wasteless_Icon.svg");
		background-size: 30px;
		width: 40px;
	}
  
  .custombanner {
		min-height: 300px;
		background-size: 200%;
	}

	.custombanner h1 {
		font-size: 2.2em;
	}
}




